<form method="post" asp-action="Login" asp-controller="Authentication">
    <input type="text" name="Email"/>
    <input type="text" name="Password" />
    <button type="submit">Login</button>
</form>