<form enctype="multipart/form-data" method="post" asp-action="Register" asp-controller="Authentication">
    <input type="text" name="Email"/>
    <input type="text" name="Username"/>
    <input type="text" name="Description"/>
    <input type="text" name="Password"/>
    <input type="date" name="Birthday" />
    <input type="file" name="Picture" />
    <button type="submit">Register</button>
</form>